{% extends '::base.html.twig' %}
{% block body %}

    <div class="notif error">{{ "N'oubliez pas d'être déconnecté du serveur pour que l'ajout de points ou crédit soit effectif !"|trans }}</div>
    <h1>{{ "Aquérir le statut Joueur Régulier "|trans }}</h1>
    <p>{{ "Le statut joueur régulier vous permet d'obtenir des véhicules réservés. Cet achat coûte 500 crédits.
En achetant ce statut, vous acceptez obligatoirement le règlement de ce statut . En cas d'abus, celui-ci peut vous être supprimé sans avertissement au préalable."|trans }}</p>
    <br>
    {{ form_start(form) }}

    {{ form_widget(form.submit, {'attr': {'class': 'form'} }) }}
    {{ form_end(form) }}

{% endblock %}